body {
    background-color: #2ed573;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    /* 사이 갭 없앰 */
    border-collapse: collapse;
    text-align: center; /* 글씨 가운데 정렬 */
    background-color: #b2bec3;
}
tbody {
    border: 2px solid;
    border-top-color: #54a0ff;
    border-left-color: #54a0ff;
    border-right-color: white;
    border-bottom-color: white;
}

#game-container {
    border: 3px solid;
    
    border-top-color: white;
    border-left-color: white;
    border-right-color: #54a0ff;
    border-bottom-color: #54a0ff;
}
#game-board {
    border: 10px solid;
    border-color: #b2bec3;  
}

#theadDiv {
    min-height: 50px;
}
th {
    height: 60px;
    padding-bottom: 10px;
}


th > div {
    border: 3px solid;
    
    height: 40px;
    border-top-color:  #54a0ff;
    border-left-color:  #54a0ff;
    border-right-color: white;
    border-bottom-color: white;

    width: auto;
    height: 100%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
th > div > div {
    margin: 8px;
}
th > div > div:nth-child(1){
    background-color: #0097e6;
    width: 30%;
    height: 100%;
}
th > div > div:nth-child(2){
    /* background-color: #ffeaa7; */
    width: 15%;
    height: 70%;
    /* border: 2px solid;
    border-top-color: white;
    border-left-color: white;
    border-right-color: #54a0ff;
    border-bottom-color: #54a0ff; */
    background-image: url("./img/normalEmotion.png");
    background-position: center;
    background-repeat: no-repeat;
}
th > div > div:nth-child(3){
    background-color: #273c75;
    width: 30%;
    height: 100%;
}
/* 이모티콘 기본 테두리 */
.emotionDefaultBorder {
    border: 3px solid;
    border-top-color: white;
    border-left-color: white;
    border-right-color: #54a0ff;
    border-bottom-color: #54a0ff;
}
/* 이모티콘 눌렀을때 테두리 */
.emotionMouseDown {
    border: 2px solid;
    border-top-width: 3px;
    border-left-width: 3px;
    border-top-color: #54a0ff;
    border-left-color: #54a0ff;
    border-right-color: #54a0ff;
    border-bottom-color: #54a0ff;
}
/* 이모티콘 클릭 뗐을 때 */

td {
    border: 0.3px solid #54a0ff;
}
.tdDivDefault {
    /* 화면 줄였을 때 지뢰판 안 깨지게 설정 */
    
    min-width: 20px;
    min-height: 20px;
}
.tdDivDefaultBorder {

    border: 2px solid;
    border-top-color: white;
    border-left-color: white;
    border-right-color: #54a0ff;
    border-bottom-color: #54a0ff;
}
/* .tdDivMouseDown {
    border: 2px solid;
    border-top-color: #54a0ff;
    border-left-color: #54a0ff;
    border-right-color: #54a0ff;
    border-bottom-color: #54a0ff;
} */
.clicked {

}